.container{
background-color: grey;
height: auto;
width: auto;
}
h2{
color:red;
}
#shapes{
background-color: black;
}
#triangle{
background-color: green;
}
#square{
background-color: blue;
}
#rect{
background-color: yellow;
}
#circle{
background-color: red;
}
