.container{
background-color: grey;
height: auto;
width: auto;
}
h2{
color:red;
}
#shapes{
background-color: black;

}
#triangle{
background-color: green;
border: 1px solid black;
margin: 3px;
display: inline-block;
}
#square{
background-color: blue;
border: 1px solid black;
margin: 3px;
display: inline-block;
}

/*Creating the square shape*/
#the-square{
height: 100px;
width: 100px;
background-color:white;
margin: 40px;
border: 1px solid black;
}




#rect{
background-color: yellow;
border: 1px solid black;
margin: 3px;
display: inline-block;
}

/*Drawing the rectangle*/
#the-rect{
background-color: white;
border: 1px solid black;
margin:40px;
height: 60px;
width: 130px;
}


#circle{
background-color: red;
border: 1px solid black;
margin: 3px;
display: inline-block;
}
/*Drawing the circle*/
#the-circle{
height: 100px;
width: 100px;
background-color: white;
border: 1px solid black;
border-radius: 100%;
margin: 40px;
}









